.appContainer {
  position: relative;
  width: 100vw; /* Ensure full width */
  height: 100vh; /* Ensure full height */
  background-image: url("assets/background.jpeg");
  /* background-color: azure; */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  overflow:hidden ;
}

.blurOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(8px);
}

.content {
  width: 100%;
  height: 100%; /* Ensure content covers full height */
  z-index: 1;
}
