.navbar {
  background-image: linear-gradient(
    to left,
    #bb462b,
    #bc423a,
    #bb4049,
    #b84056,
    #b34262
  ) !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: rgb(227, 212, 209);
  border-radius: 20%;
  padding: 5px;
}

.projectName {
  font-weight: 500;
}

.userSection {
  display: flex;
  align-items: center;
  color: white;
}

.userAvatar,
.userIcon,
.logo {
  width: 20px;
  aspect-ratio: 1/1;
}

.userEmail {
  font-weight: bold;
}

.defaultUser {
}
