/* navbar.module.css */
.navbar {
  /* background-color: #cb5f4c !important;  */
  background-image: linear-gradient(to left, #bb462b, #bc423a, #bb4049, #b84056, #b34262) !important;
  position: sticky;
  top: 0;  
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px; /* Logo size */
  height: auto;
  background-color: rgb(227, 212, 209);
  border-radius: 20%;
  padding: 5px;
}

.projectName {
  font-weight: 500;
  color: white;
}

.userSection {
  display: flex;
  align-items: center;
  color: white;
}

.userAvatar,
.userIcon {
  
}

.userEmail {
  font-weight: bold;
}

.defaultUser {
  font-size: 0.9rem;
  color: gray;
}
