
.modalContent {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}



@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Grow the icon */
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes scaleIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  